<section class="box-imgs">
    <ul>
        <li><img src="https://images.freeimages.com/images/large-previews/524/ilha-do-cardoso-1310945.jpg"/></li>
    </ul>
    <h3>Venha conhecer a <span>Ilha do Cardoso</span></h3>
</section>