<section class="box-imgs">
    <ul>
        <li><img src="https://firebasestorage.googleapis.com/v0/b/ilha-do-cardoso.appspot.com/o/Enseada%2FNova%20Enseada%20-%20Vista%20Geral.jpg?alt=media&token=5b3bb744-9d7d-4307-a124-c573cb7b7d51"/></li>
    </ul>
    <h3>Venha conhecer a <span>Ilha do Cardoso</span></h3>
</section>