
<div class="container grid-home">
        <div class="text-home">
            <h1>Parque estadual da Ilha do Cardoso</h1>
            O <strong>Parque Estadual</strong> da Ilha do Cardoso é um parque estadual paulista localizado no litoral sul do Estado de São Paulo, na divisa com o Estado do Paraná, separada do continente pelo canal do <strong>Ararapira</strong> e <strong>Baia de Trapandé.</strong>
            O parque foi criado em 1962, em sua área, superior a 13 mil hectares (151km2), são encontrados diversos tipos de vegetação da Mata Atlântica, que proporcionam uma extraordinária variedade de ambientes e de grande diversidade biológica.
            O parque abriga seis comunidades caiçaras: Marujá, Nova Enseada da Baleia, Pereirinha, Cambriú e Foles e Pontal do Leste.                
    
            A história do Parque Estadual da Ilha do Cardoso contém muitos aspectos peculiares. Pode-se citar que sua origem é fruto da solicitação e empenho do pesquisador e professor da USP, Paulo Duarte, cujo discernimento somado à vontade e ousadia, geraram condições para transformar a Ilha do Cardoso na primeira área insular especialmente protegida do Estado de São Paulo19. Segundo a mesma autora, o professor Paulo Duarte inseriu os seguintes objetivos de preservação em sua justificativa técnica para criação do Parque Estadual: conter as ações e os empreendimentos imobiliários iniciados na ilha, paralisar a exploração de sambaquis, da fauna e da flora; criar um parque natural, estabelecer uma base de estudos da Comissão de Pré-história e implantar uma estação de pesquisa do Instituto Oceanográfico da USP. O ofício estadual, encaminhado em 23 de junho de 1958 ao Presidente da República, Dr. Juscelino Kubitschek de Oliveira, solicitava que se declarassem protetoras as matas que revestiam a Ilha do Cardoso.
        </div>
        <img class="img-home" src="<%= data[0].url %>"/>
</div>
<div class="container grid-home-inverse">
    <img class="img-home" src="<%= data[1].url %>"/>
    <div class="text-home">
            <h1>A Ilha</h1>
            As áreas antropizadas da Ilha do Cardoso somam, aproximadamente, 5% da sua extensão total. São ocupadas por comunidades caiçaras e indígena, e pela infraestrutura criada para a implantação do parque. A presença humana na Ilha é caracterizada por ocupantes, visitantes, pesquisadores e funcionários. Os ocupantes estão caracterizados em tradicionais (caiçaras), não tradicionais (veranistas e outros) e índios da etnia guarani-mbyá, perfazendo um total de cerca de 480 pessoas. As comunidades estão distribuídas pelas localidades de Marujá, Enseada da Baleia, Pontal de Leste, Foles, Cambriú, Itacuruçá, Pereirinha e os diversos sítios da face lagunar. As atividades de visitação e pesquisa são desenvolvidas nos Núcleos Perequê e Marujá.
        </div>
</div>