
<div class="container grid-home">
        <div class="text-home">
            <h1>Parque estadual da Ilha do Cardoso</h1>
            O <strong>Parque Estadual</strong> da Ilha do Cardoso é um parque estadual paulista localizado no litoral sul do Estado de São Paulo, na divisa com o Estado do Paraná, separada do continente pelo canal do <strong>Ararapira</strong> e <strong>Baia de Trapandé.</strong>
            O parque foi criado em 1962, em sua área, superior a 13 mil hectares (151km2), são encontrados diversos tipos de vegetação da Mata Atlântica, que proporcionam uma extraordinária variedade de ambientes e de grande diversidade biológica.
            O parque abriga seis comunidades caiçaras: Marujá, Nova Enseada da Baleia, Pereirinha, Cambriú e Foles e Pontal do Leste.                
    
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
        <img class="img-home" src="<%= data[0].url %>"/>
</div>
<div class="container grid-home-inverse">
        <img class="img-home" src="<%= data[0].url %>"/>
        <div class="text-home">

            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
</div>