
<div class="container grid-home">
        <div class="text-home">

            O Parque Estadual da Ilha do Cardoso é um parque estadual paulista localizado no litoral sul do Estado de São Paulo, na divisa com o Estado do Paraná, separada do continente pelo canal do Ararapira e Baia de Trapandé.
            O parque foi criado em 1962, em sua área, superior a 13 mil hectares (151km2), são encontrados diversos tipos de vegetação da Mata Atlântica, que proporcionam uma extraordinária variedade de ambientes e de grande diversidade biológica.
            O parque abriga seis comunidades caiçaras: Marujá, Nova Enseada da Baleia, Pereirinha, Cambriú e Foles e Pontal do Leste.                
    
        </div>
        <img class="img-home" src="<%= data[0].url %>"/>
</div>
<div class="container grid-home-inverse">
        <img class="img-home" src="<%= data[0].url %>"/>
        <div class="text-home">

            O Parque Estadual da Ilha do Cardoso é um parque estadual paulista localizado no litoral sul do Estado de São Paulo, na divisa com o Estado do Paraná, separada do continente pelo canal do Ararapira e Baia de Trapandé.
            O parque foi criado em 1962, em sua área, superior a 13 mil hectares (151km2), são encontrados diversos tipos de vegetação da Mata Atlântica, que proporcionam uma extraordinária variedade de ambientes e de grande diversidade biológica.
            O parque abriga seis comunidades caiçaras: Marujá, Nova Enseada da Baleia, Pereirinha, Cambriú e Foles e Pontal do Leste.                
    
        </div>
</div>