<!-- 
    Name: Footer Section Home
    Itens: Menu Cascade / Copright / Contact / Created By: / etc
-->
<footer>
        <div class="menu-bg-footer">
            <div class="footer-home">
                    <ul>    
                            <li><h3>Comunidades:</h3></li>
                            <li>
                                <a href="/maruja">MARUJA</a>
                            </li>
                            <li>
                                <a href="/enseada">NOVA ENSEADA DA BALEIA</a>
                            </li>
                            <li>
                                <a href="/nucleopereque">NÚCLEO PEREQUÊ</a>
                            </li>
                            <li>
                                <a href="/cambriuefoles">CAMBRIÚ E FOLES</a>
                            </li>
                            <li>
                                <a href="/pontal">PONTAL DO LESTE</a>
                            </li>
                    </ul>
                    <div class="fale-conosco">
                        <span>Fale conosco: (011) xxxx-xxxx</span>
                    </div>
                    <div class="ajude">
                        <span>Ajude o site</span>
                    </div>
            </div>
        </div>
    </footer>
    
