<!-- 
    Name: Footer Section Home
    Itens: Menu Cascade / Copright / Contact / Created By: / etc
-->
<footer>
        <div class="menu-bg">
            <div class="container">
                    <ul>
                            <li>
                                <a href="/maruja">MARUJA</a>
                            </li>
                            <li>
                                <a href="/enseada">NOVA ENSEADA DA BALEIA</a>
                            </li>
                            <li>
                                <a href="/pereirinha">PEREIRINHA</a>
                            </li>
                            <li>
                                <a href="/cambriu">CAMBRIÚ E FOLES</a>
                            </li>
                            <li>
                                <a href="/pontal">PONTAL</a>
                            </li>
                        </ul>
            </div>
        </div>
    </footer>
    