<nav class="menu">
    <div class="brand">
        <div class="pin-solid icon"></div>
        <p>Ilha do </br>Cardoso</p>
    </div>
    <ul>
        <li>
            <a href="/maruja">MARUJA</a>
        </li>
        <li>
            <a href="/enseada">NOVA ENSEADA DA BALEIA</a>
        </li>
        <li>
            <a href="/pereirinha">PEREIRINHA</a>
        </li>
        <li>
            <a href="/cambriu">CAMBRIÚ E FOLES</a>
        </li>
        <li>
            <a href="/pontal">PONTAL</a>
        </li>
    </ul>
</nav>