<nav class="menu">
    <div class="brand">
        <div class="pin-solid icon"></div>
        <p>Ilha do </br>Cardoso</p>
    </div>
    <ul>
        <li>
            <a href="#">HOME</a>
        </li>
        <li>
            <a href="#">SOBRE</a>
        </li>
        <li>
            <a href="#">QUEM SOMOS?</a>
        </li>
        <li>
            <a href="#">CONTATO</a>
        </li>
    </ul>
</nav>