<%- include partials/head.ejs %>
<%- include partials/navbar.ejs %>
<% if(locals.data) { %>
<% data && data.forEach((content) => { %>
    <%- include('partials/content.ejs', {content:content}) %>
<% }) %>
<% } %>
</body>
</html>