/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    text-decoration:none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* setup */
h1,h2,h3,h4,h5,h6,a,p{
    margin:10px 0;
}

h1{
    font-size: 1.2em;
    font-weight: bold;
}

h2{
    font-size: 1.0em;
    font-weight: bold;
}

/* Navbar */
.menu-bg{
    background:#f1f1f1;
    border-bottom:5px solid #588c7e;
}
nav.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width:960px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.menu > ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-right:20px;
    margin-left:20px;
}

.menu > ul > li {
    padding:10px;
    position: relative;
}

.menu > ul > li > a {
    color:#5f5f5f;
    padding:5px;
}

.menu > ul > li:hover {
    background-color:white;
}

/* Submenu */

.menu > ul > li > ul {
    position:absolute;
    top:35px;
    left:0;
    background-color: white;
    display:none;
    z-index:2;
}

.menu > ul > li > ul > li > a {
    color:black;
    font-family: arial;
    padding: 8px;
    margin-left: 7px;
    display:block;
}

.menu > ul > li:hover > ul {
    display:block;
}

.menu > ul > li:hover > ul > li:hover {
    background: #96ceb4;
}

.brand{
    margin:20px;
    border:6px solid #ff6f69;
    padding:20px 0px 20px 10px;
    text-align:center;
}

.brand > p{
    margin: 2px 20px;
    font-size: 12px;
    text-transform: uppercase;
}
.pin-solid.icon {
    color: #ff6f69;
    position: absolute;
    margin-left: 4px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    border: solid 1px currentColor;
    border-radius: 7px 7px 7px 0;
    background-color: currentColor;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  
  .pin-solid.icon:before {
    content: '';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 4px;
    height: 4px;
    color: white;
    border: solid 1px currentColor;
    border-radius: 3px;
    background-color: currentColor;
  }
  
  /* Section box-imgs*/

  .box-imgs{
      position: relative;
  }

  .box-imgs > h3 {
      position: absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
      font-family: 'Viga', sans-serif;
      color:white;
      width:400px;
      font-size:50px;
      background: #ffff006e;
      padding:10px;
  }

  .box-imgs > h3 > span {
    font-family: 'Viga', sans-serif;
    color:#ff6f69;
  }
  .box-imgs > ul > li > img {
    display: block;
    width: 100vw;
    max-height: 60vh;
    object-fit: cover;
  }

  /* content */
  .container{
      max-width:960px;
      margin: 0 auto;
      font-family: 'Saira Semi Condensed', sans-serif;
      text-align: justify;
      display: grid;
      grid-template-columns: 5fr 2fr;
  }

  .grid-content{
    display: grid;
    grid-template-columns: 1fr 8fr;
  }

  .content{
      border-bottom: 1px solid gray;
      margin:10px;
  }

  .content-img{
    padding:10px 20px 10px 0;
  }

  .sidebar{
      margin: 0 10px;
  }

  .sidebar h2{
      background:#96ceb4;
      padding:5px;
  }

  /* queries */
  @media (max-width: 720px){
    .container{
        grid-template-columns: 1fr;
    }
    /* Menu */
    .brand{
        margin:20px auto;
        border: 6px solid #ff6f69;
        padding: 20px 0px 20px 10px;
        text-align: center;
        width: 150px;
    }
    .menu-bg {
        height: 98vh;
        border-bottom:2vh solid #588c7e;
    }
    .menu > ul {
        display:flex;
        flex-direction: column;
        align-content: space-between;
        flex-wrap: nowrap;
        max-width:300px;
        height: 40vh;
        margin:auto;
    }
    .menu > ul > li {
        text-align: center;
    }
    .menu > ul > li > a {
    }
    .menu > ul > li:hover{
        color:gray;
        background: none;
    }
    nav.menu{
        display:flex;
        flex-flow: column;
        height: 100vh;
    }
    .menu > ul > li > ul {
        position:static;
    }
    .box-imgs > h3 {
        width: 80%;
        font-size:30px;
    }
  }

  @media (max-width: 521px){
    .content-img{
        display: block;
        width: 100%;
        max-height: 20vh;
        object-fit: cover;
    }
    .grid-content{
        grid-template-columns: 1fr;
    }
  }